@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@keyframes slow-zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.zoom-anim {
  animation: slow-zoom 8s ease-in-out infinite alternate;
}

.type-cursor::after {
  content: '|';
  animation: blink 0.8s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}


/* font */
.oswald_span {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;

}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


@keyframes slide-up-fade {
  0%   { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0);    opacity: 1; }
}
.slide-up-fade {
  animation: slide-up-fade 0.8s ease-out forwards;
}